#Ignore data
data/1789to1824_DebatesAndProceedings/volumes/

data/*/hocrs_files/

data/*/concat_pages/

data/1789to1824_DebatesAndProceedings/one_column_oriented/

data/1789to1824_DebatesAndProceedings/text_volumes/

data/1789to1824_DebatesAndProceedings/speeches/

data/1789to1824_DebatesAndProceedings/speeches_aligned/

data/1824to1837_DebatesAndProceedings/items/

data/1833to1873_Debates andProceedings/congresses/

#Ignore glove
glove/

#Ignore idea files
.idea
