#Ignore data
data/1789to1824_DebatesAndProceedings/volumes/

data/*/hocrs_files/

data/*/concat_pages/

data/*/one_column_oriented/

data/*/text_volumes/

data/*/speeches/

data/*/speeches_aligned/

data/*/df_tuples 

data/*/df_tuples_aligned

data/*/all_speeches_aligned

data/*/bigrams

data/*/items/

data/*/congresses/

#Ignore glove
glove/

#Ignore idea files
.idea

#Ignoring package cache
data/d6tstack/__pycache__/*

data/__pycache__/*
